$font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-weight: 300;
$font-size: 1em;
$box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.07);
$gray-light: #f2f2f2;
$gray-medium: #cccccc;
$gray-medium-alt: #ececee;
$gray-dark: #666666;
$gray-darkest: #333333;

$grid-header-color: $gray-medium-alt;
$grid-footer-color: $gray-medium-alt;
