@import '_variables.scss';

.flexgrid {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  line-height: $line-height;
  font-size: $font-size;
  font-family: $font-family;

  .flexgrid-search-row {
    display: flex;
    padding: $padding;
    padding-left: 0;
    align-items: center;

    .flexgrid-search-icon {
      color: $blue;
      margin-right: 0.5em;
    }

    .flexgrid-search-input {
      font-size: inherit;
      margin: 0;
      padding: 0.5em 0.7em;
      outline: 0;
      text-align: left;
      background: #fff;
      border: 1px solid rgba(34, 36, 38, 0.15);
      border-radius: 0.3em;
      box-shadow: none;
    }
  }

  .flexgrid-header-row {
    display: flex;
    flex-direction: row;
    background-color: $grid-header-color;
    font-weight: bold;
    color: #fff;

    .flexgrid-header-col {
      padding: $padding;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .flexgrid-header-sort-icon {
      font-size: 0.8em;
      margin-left: 0.5em;
      color: $gray-light;
      line-height: 0;
      cursor: pointer;

      &:hover,
      &.active {
        color: $gray-dark;
      }
    }
  }

  .flexgrid-filter-row {
    display: flex;
    flex-direction: row;

    .flexgrid-filter-col {
      padding: $padding;
    }
  }

  .flexgrid-data-container {
    border: 1px solid $gray-medium;
    border-top: none;

    .flexgrid-data-wrapper {
      display: flex;
    }

    .flexgrid-data-row {
      // display: flex;
      // flex-direction: row;

      &:nth-child(odd) {
        background-color: $gray-light;
      }

      &:hover {
        background-color: $blue-light;
        color: $gray-darkest;
      }
    }

    .flexgrid-data-col {
      padding: $padding;
    }
  }

  .flexgrid-footer {
    display: flex;
    padding: $padding;
    background-color: $grid-footer-color;
    border: 1px solid $gray-medium;
    border-top: none;

    .flexgrid-select-wrapper {
      position: relative;
      display: inline-block;
      z-index: 1;
      background-color: $gray-light;
    }

    .select-icon {
      position: absolute;
      right: 7px;
      top: 7px;
      z-index: -1;
    }

    select {
      margin-left: 0.5em;
      padding: 0.5em 1em 0.5em 0.7em;
      width: 75px;
      border-radius: 5px;
      appearance: none;
      background-color: transparent;
      outline: none;
    }

    .flexgrid-footer-left,
    .flexgrid-footer-right {
      align-self: center;
    }

    .flexgrid-footer-right {
      margin-left: auto;
    }

    .page-toggle {
      padding: 0.35em;
      color: $gray-dark;
      cursor: pointer;

      &:hover {
        color: $gray-darkest;
      }
    }

    .page-count {
      display: inline-block;
      padding-left: 0.5em;
      padding-right: 0.5em;
    }
  }
}
